<template>
    <div class="col-12">
      <div class="input-group mb-3">
        <input id="addTodo" type="text" class="form-control" placeholder="Add Task">
        <div class="input-group-append">
          <button @click="addTask" class="btn btn-outline-secondary">
            Add task
          </button>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'Input',
  data() {
    return {
      tasks: this.$parent.tasks,
    };
  },
  methods: {
    addTask(e) {
      const input = document.getElementById('addTodo');
      e.preventDefault();
      this.tasks.push(input.value);
      input.value = '';
    },
  },
};
</script>

<style scoped>
</style>
